<!DOCTYPE html>
<html>
<head>
	<title>ini baruna</title>
</head>
<body>
	<header>
		<center>
		<p>
			<img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png" width="200px" height="200px" alt="gambar html">
		</p>
				<h1>HTML 5</h1>
		</center>

		 <nav>
		 	<h3>Daftar Isi</h3>
		 	<ul>
		 		<li>
		 			<a href="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png" width="200px" height="200px" alt="gambar html">Menuju ke Logo</a>
		 		</li>
		 		<li>
		 			<a href="Daftar Isi">Daftar Isi</a>
		 		</li>
		 		<li>
		 			<a href="Menuju Form">Menuju Form</a>
		 		</li>
		 		<li>
		 			<a href="Menuju Tabel">Menuju Tabel</a>
		 		</li>	
		 	</ul>
		 	<hr width="100%">
		</nav>

		<main>
			<h3>FORM</h3>
				<section>
					<form action="halaman2.html" method="get">
					<p>	
						<label>Nama:</label>
							<input type="text" name="username" placeholder="username"/>
					</p>
					<p>
						<label>Email:</label>
							<input type="Email" name="email" placeholder="email"/>
					</p>
					<p>
						<label>Tanggal Lahir:</label>
							<input date="tanggal lahir" name="tanggal lahir" placeholder="tanggal lahir"/>
					</p>
						
						<label>Jenis Kelamin:</label> 
   						<input type="radio" name="hobi1" value="HTML"/>Laki -laki
   						<input type="radio" name="hobi1" value="HTML"/>Perempuan
   						<input type="radio" />Waria
   					<p>	
   						<label>Hobi:</label>
   						<input type="checkbox" name="hobi1" value="HTML"/>Berkendara
   						<input type="checkbox" name="hobi1" value="HTML"/>Bermain Musik
   						<input type="checkbox" />Belajar
   						<hr width="100%">
   					</p>

				</section>
		
		<section>	
			<h3>TABEL</h3>
				<table border="1">
					<tr>
						<td>NO</td>
						<td>Nama</td>
						<td>Kuliah</td>
						<td>Gereja</td>
						<td>Motor</td>
					</tr>
					<tr>
						<td><cemter>1</cemter></td>
						<td>Baruna Marines</td>
						<td>Unla</td>
						<td>MY</td>
						<td>Zx10rr</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Gradi</td>
						<td>Unikom</td>
						<td colspan="2">MY</td>
						
					</tr>
					<tr>
						<td>3</td>
						<td>Tita</td>
						<td rowspan="2">Unpar Marnat</td>
						<td>MY</td>
						<td>Ducati Panigale</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Tirta</td>
						<td>MY</td>
						<td>Honda Sp1</td>
					</tr>
				</table>
				<hr width="100%">
		</section>
</main>
		
<footer>
	Baruna, 5 Desember 2018 &copy; Baruna IT
</footer>
	</header>
</body>
</html>